* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
 body{
  overflow-x: hidden;
 }
.container {
  width: 100vw;
  height: 100vh;
  background-image: url(assets/house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
}
header {
  border-bottom: 2px solid white;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color: white;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
}
header,
.text {
  position: relative;
  z-index: 9;
}
.items span {
  padding: 10px;
}
nav input {
  border: 2px solid white;
  color: white;
  padding: 10px 25px;
  background: none;
  border-radius: 5px;
}
.text {
  padding: 3% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 78%;
}
.text h1 {
  color: white;
  font-size: 45px;
}
.text p {
  color: rgba(255, 255, 255, 0.918);
  font-size: 17px;
  padding-bottom: 10px;
}
.text input {
  padding: 15px 25px;
  border: 1px solid rgba(255, 255, 255, 0.747);
  background: none;
  width: 150px;
  color: white;
  font-size: 15px;
}
.second-container{
    display: flex;
    justify-content: space-around;
    padding-top: 6%;
}
.left-text{
  display: flex;
  flex-direction: column;
}
.check img{
  background: rgba(40, 111, 192, 0.945);
  border-radius: 50%;
  width: 20px;
}
.check{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
}
.check-two{
  display: flex;
  gap: 10px;
}
.images-box{
  background-image: url("assets/yard.jpg");
  width: 400px;
  height: 300px;
  border-radius: 7px;
  position: relative;
}
.image-2{
  position: absolute;
  top: -10%;
  right: -15%;
  width: 200px;
  height: 130px;
  border-radius: 7px;
}
.number-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.number-box{
   background-color: #baf0f2a6;
  width: 90vw;
  height: 25vh;
  border-radius: 20px;
}
.numbers{
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding: 3%;
}
.item h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: 600;
}
.item1 h1{
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: 600;
  
}
.item2 h1{
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: 600;
}
.item1{
  position: relative;
}
.item1::after{
  content: "";
  height: 100px;
  width: 2px;
  border-radius: 20px;
  background-color: gray;
  position: absolute;
  right: -35%;
  top: -7%;
}
.item2{
  position: relative;
}
.item2::after{
  content: "";
  height: 100px;
  width: 2px;
  border-radius: 20px;
  background-color: gray;
  position: absolute;
  right: -35%;
  top: -7%;
}
.third-container{
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.part img, .part-2 img{
  display: flex;
}
.part a{
  text-decoration: none;
  color: aqua;
  font-size: 25px;
}
.part h1{
  font-size: 30px;
}
.part a,h1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 7px;
}
.after-img{
  width: 45vw;
  height: 80vh;
  border-radius: 20px;
  background-image: url(assets/house2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 1px -250px 40px -8px rgba(97, 184, 184, 0.37);
}
.after-img h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60%;
}
.border-div{
  width: 90px;
  height: 10px;
  background-color: white;
  border: none;
  margin-left: 7%;
}
.after-border{
  padding-top: 30%;
}
.part-2 p{
  display: flex;
  gap: 20px;
  padding: 20px;
}
.after-img-2 h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60%;
}
.after-img-2{
  width: 45vw;
  height: 80vh;
  border-radius: 20px;
  background-image: url(assets/new\ \(2\).jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 6px -250px 45px -8px rgba(97, 184, 184, 0.37);
}
.text-container{
   display: flex;  
   justify-content: center;
   gap: 20px;
   padding-top: 5%;
   height: 85vh;
   
 
}
.text-box{
   background-color: #88dfe28a;
  width: 100vw;
  height: 50vh;
 
}
.text-box h1{
  text-align: center;
  font-size: 30px;
}
.text-box p{
  text-align: center;
  font-size: 18px;
}
.text-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2%;
  height: 50%;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.card-1{
  background-color: white;
  width: 270px;
  height: 300px;
  box-shadow: 5px 3px 10px 8px rgba(197, 196, 196, 0.548);
  border-radius: 7px;
}
.card-1 img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.cardd{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.card h1{
  font-size: 25px;
  font-weight: 600;
}

.video-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.video-div input{
  border: 1px solid rgb(24, 129, 226);
  background: none;
  padding: 15px 28px;
  color: rgb(24, 129, 226);
  font-size: 18px;
  cursor: pointer;
}
.video{
  padding-top: 45px;
}
.videos{
  display: flex;
  align-items: center;
  
}
.video-2 video{
  height: 350px;
  width: 350px;
}
.video-2 img{
  width: 60px;
  padding-bottom: 150px;
  position: relative;
  left: 50%;
  z-index: 99;
}
.video-2 h1{
  align-items: center;
  font-size: 20px;
}
.dot{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-right: 60px;
}
.dot-1{
  width: 7px;
  height: 7px;
  background-color: rgb(172, 170, 170);
  border-radius: 50%;
}
.dot-2{
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
}
.info{
  padding-top:65px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.info-div{
  background-color: #bdf8fa6e;
  width: 100%;
  height: 83vh;
  padding: 4%;
}
.h1-div{
  font-size: 22px;
}
.p-div{
  font-size: 17px;
}
.info-div img{
  width: 50vw;
  height: 65vh;
  border-radius: 8px;
  position: relative;
  bottom: 390px;
}
.contect-button input{
  padding: 15px 40px;
  background: none;
  border: 2px solid rgba(5, 80, 80, 0.575);
  font-size: 16px;
  font-weight: bold;
  color: rgb(2, 41, 41);
}
.info-img{
  display: flex;
  justify-content: end;
  gap: 20px;
}
.h1-div , .p-div , .contect-button{
  display: flex;
  justify-content: start;
  gap: 20px;
  padding: 7px;
}
.last-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 7%;
}
.card-footer{
  width: 350px;
  height: 450px;
  background-color: rgba(210, 235, 238, 0.37);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.top-right-circle{
position: absolute;
    background-color: #247777;
    height: 100px;
    width: 100px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 14px;
}
#quote{
    left: 5px;
    bottom: 5px;
    position: relative;
    width: 30px;
    filter: invert(1);
}
.center-img{
    width: 100px;
    border-radius: 50%;
    
}
.center-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #254d4d;
    align-items: center;
    padding-top: 60px;
}
.center-text p{
    color: black;
    font-weight: 600;
    padding-left: 20%;
     padding-bottom: 10px;
}
.paragraph p{
   color: black;
    font-weight: 600;
    padding-left: 33%;
    padding-bottom: 10px;
}
.information{
  color: black;
  font-size: 17px;
  width: 80%;
  
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-footer{
  width: 100vw;
  height: 50vh;
  background-color:#7dc1c46e;
}
.left-top-text{
  padding: 3% 5%;
}
.left-top-text, .bottom-left{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.icon-footer{
   display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.icon-footer img{
  background-color: rgb(16, 102, 102);
  padding: 7px;
  border-radius: 50%;
}
.left-top-text h1{
  color: rgb(13, 85, 85);
  font-size: 32px;
  font-weight: 700;
}
.bottom-left span{
  font-size: 20px;
  font-weight: 600;
}
.right-footer-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.right2-footer-text{
   display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.item-footer{
  display: flex;
  gap: 10px;
  font-size: 18px;
}